{#
/**
 * @file
 * Partial for form item description content.
 *
 * Available variables:
 * - description.content: The description content of the for item.
 */
#}
<span class="form-description__content">{{ description.content }}</span>
<span class="form-description__icon feather-info"></span>
