{#
/**
 * @file
 * Layout for showing a message for the logged out users.
 *
 * Available variable:
 * - attributes (): HTML attributes
 * - message (string): The logout reason.
 */
#}

<div{{ attributes }}>{{ message }}</div>
