{#
/**
 * @file
 * Template for the password validation errors.
 *
 * Available variables:
 * - error_message (string): The error message itself.
 * - messages (string[]): The error messages from each failed validation.
 */
#}

<div{{ title_attributes }}>{{ title }}</div>
<ul {{ attributes }}>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
