{#
/**
 * @file
 * Template for the password policy constraint.
 *
 * Please note that if you need to change the structure, an element with the ID
 * of 'password-enhancements-policy-constraints' has to exist and it must
 * contain the elements with .constraint without changing their class, data-*
 * and ID attributes. Of course it is possible to add more classes as needed.
 *
 * Available variables:
 * - attributes (Drupal\Core\Template\Attribute): Renderable HTML attributes.
 * - description (string): The description for the constraint.
 */
#}

<div{{ attributes }}>{{ description | raw }}</div>
