aside {
  nav {
    ul {
      > li {
        &.in-active-trail {
          box-shadow: none;
          > a {
            box-shadow: none;
            border: $sidebarNavigation__menu__borderWidth solid $sidebarNavigation__menu__borderColor;
          }
        }
      }
    }
  }
}
