.rate-plan--view-mode-teaser {
  .field--products {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .field__label {
      margin-bottom: 0.5rem;
    }
  }
}

.rate-plan--view-mode-full {
  .ratecard-rate__header,
  .revshare-rate__header {
    h3 {
      margin-bottom: 1.5rem;
    }

    h4 {
      margin-bottom: 1rem;
    }
  }
}

.purchased-plan-form {
  .form__fields {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}
